<%= form_with(model: moderation, local: true) do |form| %>
  <% if moderation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moderation.errors.count, "error") %> prohibited this moderation from being saved:</h2>

      <ul>
      <% moderation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.text_field :admin_id, id: :moderation_admin_id %>
  </div>

  <div class="field">
    <%= form.label :votation_id %>
    <%= form.text_field :votation_id, id: :moderation_votation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
