<p id="notice"><%= notice %></p>

<h1>Moderations</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Votation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moderations.each do |moderation| %>
      <tr>
        <td><%= moderation.admin %></td>
        <td><%= moderation.votation %></td>
        <td><%= link_to 'Show', moderation %></td>
        <td><%= link_to 'Edit', edit_moderation_path(moderation) %></td>
        <td><%= link_to 'Destroy', moderation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moderation', new_moderation_path %>
