<div class="row">
  <div class="col-sm">
    <div class="text-center">
      <img src= <%= "/images/logorepresentative.png" %> class="rounded" alt="Perfil" style=" height: 100%; width: 100%; max-height: 250px; max-width: 250px;">
    </div>
  </div>
  <div class="col-sm">
      <dl class="row">
        <dt class="col-sm-3">Nombres</dt>
        <dd class="col-sm-9"> <%= render 'name_form', name: admin.FirstName %> <span class="tab-space"> <%= render 'name_form', name: admin.MiddleName %> </span> </dd>
        <div class="col-xs-12" style="height:35px;"></div>
        <dt class="col-sm-3">Apellidos</dt>
        <dd class="col-sm-9"> <%= render 'name_form', name: admin.LastName %> <span class="tab-space"> <%= render 'name_form', name: admin.SecondLastName %> </span></dd>
        <div class="col-xs-12" style="height:35px;"></div>
        <dt class="col-sm-3">RUT</dt>
        <dd class="col-sm-9"> (Aqui Va el RUT)
        <dt class="col-sm-3">E-Mail</dt>
        <dd class="col-sm-9"> <%= admin.email %> </dd>
        <div class="col-xs-12" style="height:35px;"></div>
        <dt class="col-sm-5">Fecha de nacimiento</dt> 
        <dd class="col-sm-13"> <%= admin.BirthDate %> </dd>
      </dl>
      
  </div>
</div>
<hr>
