<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Votation:</strong>
  <%= @comment.votation %>
</p>

<p>
  <strong>Voter:</strong>
  <%= @comment.voter %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
