<p id="notice"><%= notice %></p>

<% if @votations.size > 0 %>
  <% flag = 1%>
<% else %>
  <% flag = 0%>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" href="#">Mis Votaciones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
    </ul>
    
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to 'Nueva Votacion', new_votation_path, class: "nav-link" %>
      </li>
    </ul>
    <%= render 'search_form2' %>
  </div>
</nav>

<% if @votations.size > 0 %>
  <%= render 'votation_cards', votations: @votations %>
<% else %>
  <% if flag == 1%>
    <h1>No eres dueño de ninguna votación aun, presiona <%= link_to 'New Votation', new_votation_path %> para crear una</h1>
  <% else %>
    <h1>No se encontraron coincidencias<h1>
  <% end %>
<% end %>
<br>