<p id="notice"><%= notice %></p>

<h1>Sub Alerts</h1>

<table>
  <thead>
    <tr>
      <th>Notification</th>
      <th>Subscription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_alerts.each do |sub_alert| %>
      <tr>
        <td><%= sub_alert.notification %></td>
        <td><%= sub_alert.subscription %></td>
        <td><%= link_to 'Show', sub_alert %></td>
        <td><%= link_to 'Edit', edit_sub_alert_path(sub_alert) %></td>
        <td><%= link_to 'Destroy', sub_alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Alert', new_sub_alert_path %>
