<p id="notice"><%= notice %></p>

<p>
  <strong>Voter:</strong>
  <%= @subscription.voter %>
</p>

<p>
  <strong>Votation:</strong>
  <%= @subscription.votation %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
