<%= form_with(model: votation_result, local: true) do |form| %>
  <% if votation_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(votation_result.errors.count, "error") %> prohibited this votation_result from being saved:</h2>

      <ul>
      <% votation_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :votation_id %>
    <%= form.text_field :votation_id, id: :votation_result_votation_id %>
  </div>

  <div class="field">
    <%= form.label :final_result %>
    <%= form.text_field :final_result, id: :votation_result_final_result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
