<p id="notice"><%= notice %></p>

<h1>Votation Results</h1>

<table>
  <thead>
    <tr>
      <th>Votation</th>
      <th>Final result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votation_results.each do |votation_result| %>
      <tr>
        <td><%= votation_result.votation %></td>
        <td><%= votation_result.final_result %></td>
        <td><%= link_to 'Show', votation_result %></td>
        <td><%= link_to 'Edit', edit_votation_result_path(votation_result) %></td>
        <td><%= link_to 'Destroy', votation_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Votation Result', new_votation_result_path %>
