<p id="notice"><%= notice %></p>

<p>
  <strong>Voter:</strong>
  <%= @vote.voter %>
</p>

<p>
  <strong>Votation:</strong>
  <%= @vote.votation %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
